<p id="notice"><%= notice %></p>

<h1>Listing Cities</h1>

<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <% if (current_user.present?) && (current_user.role != "agent") %>
          <td><%= link_to 'Show', city %></td>
          <td><%= link_to 'Edit', edit_city_path(city) %></td>
          <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.present? && (current_user.role == "admin" || current_user.role == "city_admin")  %>
  <%= link_to 'New City', new_city_path %>
<% end %>
